body {
    font-family:'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: white;
}
form {
    margin: auto;
    background-color: rgb (228, 242, 255);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 600px;
}
h1 {
    text-align: center;
    color: black;
}
fieldset {
    border: 2px solid rgb(87, 248, 13);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
legend {
    font-size: 30px;
    border-bottom: 2px solid rgb(87, 248, 13);
    text-align: left;
    color: rgb(34, 29, 29);
}
label {
    font-size: 26px;
    display: block;
    margin-top: 10px;
    color: black;
}
input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid rgb(43, 243, 16);
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    display: block;
    width: 100%;
    background-color: rgb(43, 243, 16);
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}
button:hover {
    color: rgb(241, 54, 7);
}
#displayed-resume {
    background: white;
    padding: 50px;
    border-radius: 5px;
    border: 6px solid rgb(43, 243, 16);
    box-shadow: 0 2px 10px black;
}
h2 {
    font-size: 26px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}
h3 {
    color: black;
    border: 2px solid rgb(43, 243, 16);
    font-size: 30px;
    text-align: center;
    padding: 6px;
    box-shadow: 0 4px 8px  white;
    text-decoration: none;
}
b {
    font-size: 28px;
    padding: 16px;
    text-decoration: underline;
}
span {
    font-size: 24px;
    justify-content: space-around;
}
p {
    font-size: 24px;
    justify-content: space-around;
}
@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    #displayed-resume {
        flex-direction: column;
        text-align: center;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    b {
        font-size: 14px;
        padding: 16px;
        text-decoration: underline;
    }
    span {
        font-size: 16px;
        justify-content: space-around;
    }
    p {
        font-size: 14px;
        justify-content: space-around;
    }
}